# div postcard

# div left-side-of-postcard
  # conditional:
    # if index view => display welcome message
    # if show view => random quote from DB of quotes



# div right-side-of-postcard
  # conditional:
    # if index view => form for user input
    # if show view => blank

<div class="post-card">
  <div>
  </div>
</div>