(postcard with random quote will go here)<br>

(render emojis partial)

<p> <%= @quote.body %> </p>

<!-- <%#= render partial: "emojis" %>
 -->

<ol class="emoji_links">
  <% @emotions.each do |emotion| %>
    <li>
      <%#= button_to emotion.title, "/responses", method: "post", action: "create" %>
      <%# @response.emotion = emotion %>
      <%= form_for @response do |f| %>
        <%= f.hidden_field :emoji_id, :value => emotion.id  %>
        <%= f.submit %>
      <% end %>
    </li>
  <% end %>
</ol>