

<header>
  <div class="emoji">
    <%= image_url(@response_emotion.url) %>

    <!-- Emotion.find(@response.id) -->
  </div>

  <div class="next_card">
    <%= link_to("next", "/index")%>
  </div>
</header>
<!-- contains the header information for the header that is not in the layout, has the users selected layout-->
