/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/************/
/*  Global  */
/************/

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #FAECD8;
/*  text-align: center;
*/}

header {
  margin: 30px;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid black;
}

/****************/
/*  Head Matter */
/****************/

.logo {
  font-size: 32pt;
}

.logo a {
  text-decoration: none;
  color: black;
}

#only_on_show {
  height: 50px;
}

#user_selection {
  width: 100px;
  height: 50px;
  float: left;
}

#next_page {
  width: 100px;
  height: 50px;
  float: right;
}

/****************/
/*  Body Matter */
/****************/

main {
  height: 50vh;
}

/** INDEX **/
#play_button {
  border: 1px solid black;
  width: 100px;
  text-decoration: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

#category_dropdown {

}

#category_filter {
  width: 400px;
  border: 1px solid black;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

/** NEW **/
.emoji_links {
  text-align: center;
}

.emoji_links li{
  display: inline-block;
}

.emoji_links input[type=submit] {
  width: 64px;
  height: 64px;
  padding: 10px;
  border: 0 none;
  background-color: #faf5d8;
}

/**   Emotions   **/
#happiness input[type=submit] {
  background-image: url("https://cdn4.iconfinder.com/data/icons/imoticons/105/imoticon_3-64.png");
}

#sadness input[type=submit] {
  background-image: url("https://cdn4.iconfinder.com/data/icons/imoticons/105/imoticon_22-64.png");
}

#anger input[type=submit] {
  background-image: url("https://cdn4.iconfinder.com/data/icons/imoticons/105/imoticon_31-64.png");
}

#disgust input[type=submit] {
  background-image: url("https://cdn4.iconfinder.com/data/icons/imoticons/105/imoticon_32-64.png");
}

#fear input[type=submit] {
  background-image: url("https://cdn4.iconfinder.com/data/icons/imoticons/105/imoticon_16-64.png");
}

#surprise input[type=submit] {
  background-image: url("https://cdn4.iconfinder.com/data/icons/imoticons/105/imoticon_15-64.png");
}

/**   POSTCARD  **/
.postcard {
  width: 600px;
  height: 350px;
  border: 1px solid black;
  margin: 0 auto;
}

.left-side {
  float: left;
  border: 1px solid black;
  width: 49.5%;
  height: 100%;
  text-align: center;
}

.left-side p {
  display: inline-block;
  vertical-align: middle;
}

.right-side {
  float: right;
  border: 1px solid black;
  width: 49.5%;
  height: 100%;
  text-align: left;
}

.right-side li {
  padding: 5px;
  text-align: left;
}

/** SHOW **/

.frame {
  height: 90vh;
}

#frame-one {
  text-align: center;
}

#frame-one p {
  margin: 10px;
}

.author-data li {
  list-style-type: none;
}

/******************/
/*  Footer Matter */
/******************/

footer {
  text-align: center;
  margin: 30px;
}

#third_frame {
  margin: 0 20% 0 20%;
  line-height: 120%;
  align: center;


}
