/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/************/
/*  Global  */
/************/

body {
  font-family: courier;
}

header {
  margin: 30px;
  height: 100px;
  text-align: center; 
  border-bottom: 1px solid black; 
}

/****************/
/*  Head Matter */
/****************/

.logo {
  font-size: 32pt;
}

.logo a {
  text-decoration: none;
  color: black;
}

#only_on_show {
  height: 50px;
}

#user_selection {
  width: 50px;
  height: 50px;
  float: left;
}

#next_page {
  width: 100px;
  height: 50px;
  float: right;
}

/****************/
/*  Body Matter */
/****************/

main {
  height: 50vh;
}

#frame1, #frame2, #frame3 {
  height: 100vh;
}

.emoji_links {
  text-align: center;
}

.emoji_links li{
  display: inline-block;
}

.emoji_links input[type=submit] {
  padding: 10px;
  background: #ccc;
  border: 0 none;
}

/******************/
/*  Footer Matter */
/******************/

footer {
  text-align: center;
  margin: 30px;
}
