<!DOCTYPE html>
<html>
<head>
  <title>Chucks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
# Header
#   title
#   partial with conditional to display user selection

<%= yield %>

# Footer with link to github repo, icon as link?

</body>
</html>
