<!DOCTYPE html>
<html>
<head>
  <title>PostPoll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <!-- < render partial :users_emotion -->
  <span class="logo">PostPOLL</span>

  <!-- render partial :next_card -->
</header>

<%= yield %>

<footer>
  <%= link_to "GitHub", "https://github.com/ZakkMan/chucks" %>
</footer>

</body>
</html>
